<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <!-- <style>
              * {
                     border: 1px solid red;
              }
       </style> -->
       <title>Galeri 2 | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <header class="bg-white absolute top-0 left-0 w-full flex items-center z-10">
              <div class="container">
                     <div class="flex items-center justify-between relative">
                            <div class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </div>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="block absolute right-2 top-3 lg:hidden">
                                          <span class="hamburger-line transition 
                                                               duration-300 ease-in-out origin-top-left"></span>
                                          <span class="hamburger-line transition 
                                                        duration-300 ease-in-out"></span>
                                          <span class="hamburger-line transition 
                                                               duration-300 ease-in-out origin-top-left"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static md:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block lg:flex font-normal lg:items-center">
                                                 <li class="grup active">
                                                        <a href="../beranda/index.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block mx-2 p-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block text-white ml-2 p-3 bg-button hover:bg-primary rounded-lg">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!-- Banner -->
       <section class="font-poppins pt-16 pb-20 lg:pb-20">
              <div class="relativ bg-cyan-500 w-11/12 pb-[10rem] md:grid md:grid-cols-2 md:pb-[5rem]">
                     <div class="pb-7 md:pb-0 mx-4 text-white md:pr-2">
                            <p class="font-semibold text-2xl md:text-4xl pt-8 lg:pt-20">Tantang PETA</p>
                            <p class="font-semibold text-justify text-sm md:text-xl pt-4">
                                   Lorem ipsum dolor sit amet,
                                   consectetur
                                   adipisicing elit. Necessitatibus vero vel, ad
                                   distinctio illo possimus maiores totam quaerat numquam, laboriosam magni nisi ea
                                   impedit labore quo minus, maxime harum a?
                            </p>
                     </div>
                     <div class="absolute right-0 md:pt-8">
                            <img class="w-[20rem] md:w-[28rem] lg:w-[35rem]" src="../../img/foto2.png" alt="">
                     </div>
              </div>
       </section>
       <!-- END Banner -->

       <!-- Content -->
       <section class="border-t">
              <div class="grid grid-cols-2 md:grid-cols-3 justify-items-center gap-3 px-5 py-10 md:mt-10 lg:mt-20">
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
                     <div class="my-4">
                            <img src="../../img/galery-1.png" class="w-36 md:w-48 lg:w-60 shadow-2xl rounded-lg mb-2"
                                   alt="">
                            <div class="flex space-x-2 justify-center">
                                   <button type="button" data-mdb-ripple="true" data-mdb-ripple-color="light"
                                          data-bs-toggle="modal" data-bs-target="#exampleModalXl"
                                          class="mt-2 inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
                                          Detail
                                   </button>
                            </div>
                            <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto"
                                   id="exampleModalXl" tabindex="-1" aria-labelledby="exampleModalXlLabel"
                                   aria-modal="true" role="dialog">
                                   <div class="modal-dialog modal-xl relative w-auto pointer-events-none">
                                          <div
                                                 class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
                                                 <div
                                                        class="modal-header flex flex-shrink-0 items-center justify-between p-4 border-b border-gray-200 rounded-t-md">
                                                        <h5 class="text-xl font-medium leading-normal text-gray-800"
                                                               id="exampleModalXlLabel">
                                                               Extra large modal
                                                        </h5>
                                                        <button type="button"
                                                               class="btn-close box-content w-4 h-4 p-1 text-black border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-black hover:opacity-75 hover:no-underline"
                                                               data-bs-dismiss="modal" aria-label="Close"></button>
                                                 </div>
                                                 <div class="modal-body relative p-4">
                                                        <div class="grid grid-cols-1 lg:grid-cols-2">
                                                               <div class="flex justify-center">
                                                                      <img class="h-full" src="../../img/galery-1.png"
                                                                             alt="">
                                                               </div>
                                                               <div class="mt-4">
                                                                      <p>Lorem ipsum dolor sit amet consectetur
                                                                             adipisicing elit. Quis provident nulla at,
                                                                             tenetur beatae ipsa ad repellat temporibus
                                                                             eligendi officiis maxime minus molestias in
                                                                             laborum est exercitationem eveniet!
                                                                             Dolorem, explicabo.</p>
                                                               </div>
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>
              </div>

              <!--slide-->
              <div class="flex justify-center mb-10 font-semibold">
                     <div aria-label="Page navigation example">
                            <ul class="flex list-style-none">
                                   <li class="page-item"><a
                                                 class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 focus:shadow-none"
                                                 href="galeri3.html" aria-label="Previous">
                                                 <span aria-hidden="true">&laquo;</span>
                                          </a></li>
                                   <li class="page-item">
                                          <a class="page-link relative block py-1.5 px-3 rounded border-0  bg-transparent outline-none transition-all duration-300 text-gray-800 bg-gray-200 focus:shadow-none"
                                                 href="galeri.html">
                                                 1
                                          </a>
                                   </li>
                                   <li class="page-item">
                                          <a class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                                 href="galeri2.html">
                                                 2
                                          </a>
                                   </li>
                                   <li class="page-item">
                                          <a class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                                 href="galeri3.html">3
                                          </a>
                                   </li>
                                   <li class="page-item"><a
                                                 class="page-link relative block py-1.5 px-3 border-0 bg-transparent outline-none transition-all duration-300 rounded text-gray-800 hover:text-gray-800 hover:bg-gray-200 focus:shadow-none"
                                                 href="galeri.html" aria-label="Next">
                                                 <span aria-hidden="true">&raquo;</span>
                                          </a></li>
                            </ul>
                     </div>
              </div>
              <!-- End Slide -->
       </section>
       <!-- END Content -->

       <!-- Footer -->
       <footer class="bg-gray-200 py-5 md:flex justify-around font-poppins">
              <div class="flex gap-2 justify-around">
                     <a href="#"><img src="../../img/ig.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/tiktok.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/twiter.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/linkedin.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/fb.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/youtube.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
              </div>
              <p class="pt-4 md:pt-0 flex justify-around text-sm md:text-lg font-medium">&copy; 2022 Pejuang
                     Tanggung PETA TB-RO
              </p>
              <div class="flex justify-center gap-2 font-medium">
                     <img src="../../img/indo-icon.png" class="w-5" alt="">
                     <p>Indonesia</p>
              </div>
       </footer>
       <!-- END Footer -->


       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>