<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <title>Tentang PETA | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <header class="absolute top-0 left-0 z-10 flex items-center w-full bg-white">
              <div class="container">
                     <div class="relative flex items-center justify-between">
                            <div class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </div>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="absolute block right-2 top-3 lg:hidden">
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                          <span class="transition duration-300 ease-in-out hamburger-line"></span>
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block font-normal lg:flex lg:items-center">
                                                 <li class="grup">
                                                        <a href="../beranda/index.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block p-3 ml-2 text-white rounded-lg bg-button hover:bg-primary">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!-- Banner -->
       <section class="pt-16 pb-20 font-poppins lg:pb-20">
              <div class="relativ bg-cyan-500 w-11/12 pb-[10rem] md:grid md:grid-cols-2 md:pb-[5rem]">
                     <div class="mx-4 text-white pb-7 md:pb-0 md:pr-2">
                            <p class="pt-8 text-2xl font-semibold md:text-4xl lg:pt-20">Tantang PETA</p>
                            <p class="pt-4 text-sm font-semibold text-justify md:text-xl">
                                   Lorem ipsum dolor sit amet,
                                   consectetur
                                   adipisicing elit. Necessitatibus vero vel, ad
                                   distinctio illo possimus maiores totam quaerat numquam, laboriosam magni nisi ea
                                   impedit labore quo minus, maxime harum a?
                            </p>
                     </div>
                     <div class="absolute right-0 md:pt-8">
                            <img class="w-[20rem] md:w-[28rem] lg:w-[35rem]" src="../../img/foto2.png" alt="">
                     </div>
              </div>
       </section>
       <!-- END Banner -->

       <!-- Start Artikel -->
       <div class="flex justify-center mb-10">
              <div>
                     <a href="detail-artikel.html" class="flex mx-5 mt-3">
                            <img src="../../img/artikel1.png" class="w-56 h-32 md:h-40 md:w-72 lg:w-96 lg:h-60" alt="">
                            <p class="ml-5 border-t border-gray-300 xs:text-sm md:text-lg lg:text-xl">
                                   Perlu diperhatikan jenis obat yang dosis nya sangat besar
                            </p>
                     </a>
                     <a href="detail-artikel.html" class="flex mx-5 mt-3">
                            <img src="../../img/artikel2.png" class="w-56 h-32 md:h-40 md:w-72 lg:w-96 lg:h-60" alt="">
                            <p class="ml-5 border-t border-gray-300 xs:text-sm md:text-lg lg:text-xl">
                                   Perlu diperhatikan jenis obat yang dosis nya sangat besar
                            </p>
                     </a>
                     <a href="detail-artikel.html" class="flex mx-5 mt-3">
                            <img src="../../img/artikel3.png" class="w-56 h-32 md:h-40 md:w-72 lg:w-96 lg:h-60" alt="">
                            <p class="ml-5 border-t border-gray-300 xs:text-sm md:text-lg lg:text-xl">
                                   Perlu diperhatikan jenis obat yang dosis nya sangat besar
                            </p>
                     </a>
              </div>
       </div>
       <!-- End Artikel -->

       <!-- Footer -->
       <footer class="justify-around py-5 bg-gray-200 md:flex font-poppins">
              <div class="flex justify-around gap-2">
                     <a href="#"><img src="../../img/ig.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/tiktok.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/twiter.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/linkedin.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/fb.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
                     <a href=""><img src="../../img/youtube.png" class="w-5 md:h-6 md:pt-0" alt=""></a>
              </div>
              <p class="flex justify-around pt-4 text-sm font-medium md:pt-0 md:text-lg">&copy; 2022 Pejuang
                     Tanggung PETA TB-RO
              </p>
              <div class="flex justify-center gap-2 font-medium">
                     <img src="../../img/indo-icon.png" class="w-5" alt="">
                     <p>Indonesia</p>
              </div>
       </footer>
       <!-- END Footer -->


       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>