<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- AOS -->
       <link href="../../../node_modules/aos/dist/aos.css" rel="stylesheet">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <title>Beranda | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <header class="absolute top-0 left-0 z-10 flex items-center w-full bg-white">
              <div class="container">
                     <div class="relative flex items-center justify-between">
                            <a href="../beranda/index.html" class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </a>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="absolute block right-2 top-3 lg:hidden">
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                          <span class="transition duration-300 ease-in-out hamburger-line"></span>
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block font-normal lg:flex lg:items-center">
                                                 <li class="grup">
                                                        <a href="../beranda/index.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block p-3 ml-2 text-white rounded-lg bg-button hover:bg-primary">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!--penjualan 2-->
       <section class="pt-16">
              <div class="grid-cols-5 gap-8 pb-1 mx-1 border-b main-wrapper lg:grid md:mx-auto">
                     <div class="col-span-2">
                            <div class="container">
                                   <div class="product-div">
                                          <div class="product-div-left">
                                                 <div class="img-container">
                                                        <img src="../../img/penjualan4.png"
                                                               class="ecommerce-gallery-main-img active w-100 lg:mt-10"
                                                               alt="penjualan">
                                                 </div>
                                                 <div
                                                        class="grid grid-cols-4 gap-4 py-3 mt-4 hover-container row shadow-5">
                                                        <div class="mt-1 col-3">
                                                               <img src="../../img/penjualan4.png" alt="Gallery image 1"
                                                                      class="h-12 active xl:h-16 lg:h-14 md:h-24" />
                                                        </div>
                                                        <div class="mt-1 col-3">
                                                               <img src="../../img/penjualan1.png" alt="Gallery image 2"
                                                                      class="h-12 xl:h-16 lg:h-14 md:h-24" />
                                                        </div>
                                                        <div class="mt-1 col-3">
                                                               <img src="../../img/penjualan2.png" alt="Gallery image 3"
                                                                      class="h-12 xl:h-16 lg:h-14 md:h-24" />
                                                        </div>
                                                        <div class="mt-1 col-3">
                                                               <img src="../../img/penjualan3.png" alt="Gallery image 4"
                                                                      class="h-12 xl:h-16 lg:h-14 md:h-24" />
                                                        </div>
                                                 </div>
                                          </div>
                                   </div>
                            </div>
                     </div>

                     <div class="col-span-3 w-90">
                            <p class="text-2xl font-bold md:text-center lg:text-3xl md:mt-10 ">Nasi Goreng Kambing</p>
                            <div class="flex gap-2 mt-3 font-semibold md:text-lg">
                                   <img src="../../img/user.png" class="w-8 md:h-9" alt="">
                                   <p>Ilham Ramadhan, kemanggisan</p>
                            </div>
                            <div class="flex mt-2 text-lg font-semibold border-b lg:text-2xl border-gray lg:pb-5">
                                   <p>Rp. 25.000</p>
                            </div>

                            <!-- desc desktop -->
                            <div class="justify-between hidden md:flex">
                                   <div class="flex mt-2 font-semibold border-b lg:text-xl border-gray">
                                          <p class="pb-2 border-b border-blue-500">Deskripsi</p>
                                   </div>
                                   <div class="flex gap-3">
                                          <p class="mt-2 font-semibold md:text-xl">kontak penjual</p>
                                          <a href="#">
                                                 <img src="../../img/wa.png" class="h-10 py-2 md:h-11 md:py-1" alt="">
                                          </a>
                                          <a href="">
                                                 <img src="../../img/Instagram.png" class="h-10 py-2 md:h-11 md:py-1"
                                                        alt="">
                                          </a>
                                          <a href="#">
                                                 <img src="../../img/Facebook.png" class="h-10 py-2 md:h-11 md:py-1"
                                                        alt="">
                                          </a>
                                   </div>
                            </div>
                            <!-- deskripsi mobile -->
                            <div class="md:hidden">
                                   <div class="flex gap-3">
                                          <p class="mt-2 text-xl font-semibold">kontak penjual</p>
                                          <a href="#">
                                                 <img src="../../img/wa.png" class="h-10 py-2 md:h-11 md:py-1" alt="">
                                          </a>
                                          <a href="">
                                                 <img src="../../img/Instagram.png" class="h-10 py-2 md:h-11 md:py-1"
                                                        alt="">
                                          </a>
                                          <a href="#">
                                                 <img src="../../img/Facebook.png" class="h-10 py-2 md:h-11 md:py-1"
                                                        alt="">
                                          </a>
                                   </div>
                                   <div class="flex mt-2 text-xl font-semibold border-b border-gray">
                                          <p class="pb-2 border-b border-blue-500">Deskripsi</p>
                                   </div>
                            </div>
                            <div class="font-normal text-justify">
                                   <p class="pr-5 text-sm md:text-lg md:mt-4 lg:mt-8">
                                          Lorem ipsum is a placeholder
                                          text commonly used to demonstrate the visual form of a document
                                          or a typeface without relying on meaningful content.
                                          Lorem ipsum is a placeholder
                                          text commonly used to demonstrate the visual form of a document
                                          or a typeface without relying on meaningful content.
                                          Lorem ipsum is a placeholder
                                          text commonly used to demonstrate the visual form of a document
                                          or a typeface without relying on meaningful content.
                                   </p>
                                   <p class="pr-5 text-sm md:text-lg md:mt-4 lg:mt-8">
                                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum aliquid at
                                          reiciendis
                                          porro laudantium, impedit esse ea sed inventore quae nemo incidunt voluptatum
                                          illo
                                          quibusdam.
                                   </p>
                            </div>
                     </div>
              </div>

              <!-- lainnya desktop -->
              <div class="justify-around hidden gap-4 px-10 py-10 md:flex">
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan2.png">
                            <div class="px-2 py-4">
                                   <div class="mb-2 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan2.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan2.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan2.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
              </div>
              <div class="justify-around hidden gap-4 px-10 pb-10 md:flex">
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan3.png">
                            <div class="px-2 py-4">
                                   <div class="mb-2 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan3.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan3.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-48" src="../../img/penjualan3.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 text-lg font-bold">The Coldest Sunset</div>
                                   <div class="mb-2 text-lg font-bold">RP 35.000</div>
                            </div>
                     </div>
              </div>

              <!-- lainnya mobile -->
              <div class="flex justify-around gap-4 px-10 py-10 md:hidden">
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/penjualan2.png">
                            <div class="px-2 py-4">
                                   <div class="mb-2 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/penjualan2.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
              </div>
              <div class="flex justify-around gap-4 px-10 pb-10 md:hidden">
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/penjualan3.png">
                            <div class="px-2 py-4">
                                   <div class="mb-2 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/penjualan3.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
              </div>
              <div class="flex justify-around gap-4 px-10 pb-10 md:hidden">
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/penjualan1.png">
                            <div class="px-2 py-4">
                                   <div class="mb-2 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/penjualan1.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
              </div>
              <div class="flex justify-around gap-4 px-10 pb-10 md:hidden">
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/detail-jualan1.png">
                            <div class="px-2 py-4">
                                   <div class="mb-2 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
                     <div class="overflow-hidden rounded shadow-lg w-60 bg-gradient-to-b from-teal-100 to-cyan-100">
                            <img class="h-36 md:h-48" src="../../img/detail-jualan1.png">
                            <div class="px-2 py-4">
                                   <div class="mb-5 font-bold md:text-lg">The Coldest Sunset</div>
                                   <div class="mb-2 font-bold md:text-lg">RP 35.000</div>
                            </div>
                     </div>
              </div>
       </section>


       <!-- Footer -->
       <footer class="items-center justify-around py-5 bg-gray-200 md:flex">
              <div class="flex justify-around md:gap-2">
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/Facebook.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/Instagram.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/YouTube.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/LinkedIn.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/Twitter Squared.png" class="md:pt-0"
                                   alt=""></a>
                     <a href="#"><img src="../../img/TikTok.png" class="w-5 h-5 md:w-6 md:h-6 md:pt-0" alt=""></a>
              </div>
              <p class="flex justify-around pt-4 text-sm font-medium md:pt-0 md:text-base">
                     &copy; 2022 Pejuang Tanggung PETA TB-RO
              </p>
              <div
                     class="flex items-center justify-center gap-2 px-4 py-2 pt-2 mx-32 text-sm rounded-lg md:mx-0 md:text-base bg-slate-100">
                     <img src="../../img/indo-icon.png" class="w-5" alt="">
                     <p class="font-medium">Indonesia</p>
              </div>
       </footer>
       <!-- END Footer -->


       <script src="../../../node_modules/aos/dist/aos.js"></script>
       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>