<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- AOS -->
       <link href="../../../node_modules/aos/dist/aos.css" rel="stylesheet">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <title>Hasil Karya | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <header class="absolute top-0 left-0 z-10 flex items-center w-full bg-white">
              <div class="container">
                     <div class="relative flex items-center justify-between">
                            <a href="../beranda/index.html" class="pr-2 md:pr-2">
                                   <img class="h-12 my-2" src="../../img/logoPeta.png" alt="logoPeta">
                            </a>
                            <div class="flex items-center">
                                   <button id="hamburger" name="hamburger" type="button"
                                          class="absolute block right-2 top-3 lg:hidden">
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                          <span class="transition duration-300 ease-in-out hamburger-line"></span>
                                          <span
                                                 class="transition duration-300 ease-in-out origin-top-left hamburger-line"></span>
                                   </button>

                                   <nav id="nav-menu"
                                          class="hidden absolute py-3 bg-white shadow-lg max-w-[250px] w-full right-4 top-full lg:block lg:static lg:bg-transparent lg:left-4 lg:max-w-full lg:shadow-none lg:top-0">
                                          <ul class="block font-normal lg:flex lg:items-center">
                                                 <li class="grup">
                                                        <a href="../beranda/index.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Beranda
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../peta/peta.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Tentang PETA
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../tbc/tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Info TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kasus/kasus-tbc.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kasus TBC
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../artikel/artikel.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Artikel
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../galeri/galeri.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Galeri
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../kontak/kontak.html"
                                                               class="block p-2 mx-2 hover:bg-primary hover:rounded-lg">
                                                               Kontak
                                                        </a>
                                                 </li>
                                                 <li class="grup">
                                                        <a href="../penjualan/penjualan.html"
                                                               class="block p-3 ml-2 text-white rounded-lg bg-button hover:bg-primary">
                                                               Penjualan Karya
                                                        </a>
                                                 </li>
                                          </ul>
                                   </nav>
                            </div>
                     </div>
              </div>
       </header>
       <!-- End Navbar -->

       <!-- Banner -->
       <section class="pt-16 pb-16 border-b-2">
              <div class="container relative">
                     <div class="grid items-center grid-cols-1 gap-4 lg:grid-cols-12">
                            <div class="col-span-1 lg:col-span-5 lg:col-start-2">
                                   <div class="mx-4 text-white pb-7 md:pb-0 md:pr-2">
                                          <p class="pt-8 text-2xl font-semibold md:pt-12 lg:pt-0 md:text-4xl">
                                                 Penjualan Hasil Karya
                                          </p>
                                          <p class="font-poppins z-10 pt-4 mr-8 text-justify md:text-xl">
                                                 Lorem ipsum dolor sit amet,
                                                 consectetur
                                                 adipisicing elit. Necessitatibus vero vel, ad
                                                 distinctio illo possimus maiores totam quaerat numquam, laboriosam
                                                 magni nisi ea
                                                 impedit labore quo minus, maxime harum a?
                                          </p>
                                   </div>
                            </div>
                            <div class="grid justify-end col-auto lg:col-span-7 lg:col-start-7 pt-9">
                                   <div class="w-[20rem] md:w-[40rem] lg:w-auto md:h-full rounded-xl shadow-xl">
                                          <img class="rounded-xl h-[15rem] md:h-[30rem]"
                                                 src="../../img/penjualan-bg.png" alt="banner">
                                   </div>
                            </div>
                            <div
                                   class="bg-primary overflow-hidden absolute top-0 w-[95%] lg:w-[70%] h-[85%] -z-10 rounded-sm">
                            </div>
                     </div>
              </div>
       </section>
       <!-- END Banner -->

       <!--search-->
       <div class="relative flex justify-center pt-2 mx-auto mt-5 mb-5 text-gray-600 md:mb-10">
              <div class="mb-3 xl:w-96">
                     <div class="relative flex flex-wrap items-stretch w-full mb-4 input-group">
                            <input type="search"
                                   class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-lg transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                   placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out rounded-lg items-center"
                                   type="button" id="button-addon2">
                                   <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                                          class="w-4" role="img" xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 512 512">
                                          <path fill="currentColor"
                                                 d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                          </path>
                                   </svg>
                            </button>
                     </div>
              </div>
       </div>
       <!-- End Search -->

       <!-- konten -->
       <div class="">
              <!--Struktur-->
              <div class="grid-cols-2 gap-2 mb-5 md:grid mb-15 bg-gradient-to-b from-cyan-200 to-teal-200 md:mb-0">
                     <!--tablet dan desktop-->
                     <div class="flex flex-col-reverse justify-around md:justify-end md:hidden">
                            <img src="../../img/penjualan2.png" class="h-64 py-10" alt="">
                     </div>

                     <div class="ml-5">
                            <p
                                   class="text-lg font-bold text-center lg:text-center md:text-xl lg:text-3xl lg:mt-10 md:text-left">
                                   Nasi
                                   Goreng
                                   Kambing</p>
                            <p
                                   class="font-poppins text-center lg:text-center md:text-left md:text-xl lg:text-2xl md:mt-4 lg:mt-8">
                                   Lorem ipsum is a placeholder
                                   text commonly used to demonstrate the visual form of a document
                                   or a typeface without relying on meaningful content.
                            </p>
                            <p class="mt-3 font-bold text-center lg:text-center md:text-center md:text-xl lg:text-2xl">
                                   Rp
                                   25000 /
                                   umit</p>
                            <div
                                   class="flex justify-around text-center lg:text-center md:text-center flex-wrap md:justify-start ">
                                   <a href="detail.html"
                                          class="px-5 py-1 mt-4 mb-4 text-lg font-semibold bg-white rounded-md shadow-md text-cyan-500 md:text-xl md:mt-6 lg:mt-10">Selengkapnya</a>
                            </div>
                     </div>

                     <img src="../../img/penjualan2.png"
                            class="hidden md:grid md:h-5/6 md:w-full lg:h-full place-items-center" alt="">
              </div>

              <!--penjualan 2-->
              <div class="grid-cols-2 mb-5 md:grid mb-15 bg-gradient-to-b from-teal-200 to-cyan-200 md:mb-0">
                     <!--tablet dan desktop-->
                     <div class="flex flex-col-reverse justify-around md:justify-end md:hidden z-10">
                            <img src="../../img/penjualan1.png" class="h-64 py-10" alt="">
                     </div>
                     <img src="../../img/penjualan1.png"
                            class="hidden md:grid md:h-5/6 md:w-full lg:h-full place-items-center" alt="">
                     <div class="ml-5">
                            <p
                                   class="text-lg font-bold text-center lg:text-center md:text-xl lg:text-3xl lg:mt-10 md:text-left">
                                   Nasi
                                   Goreng
                                   Kambing</p>
                            <p
                                   class="font-poppins text-center lg:text-center md:text-center md:text-xl lg:text-2xl md:mt-4 lg:mt-8">
                                   Lorem ipsum is a placeholder
                                   text commonly used to demonstrate the visual form of a document
                                   or a typeface without relying on meaningful content.
                            </p>
                            <p class="mt-3 font-bold text-center lg:text-center md:text-center md:text-xl lg:text-2xl">
                                   Rp
                                   25000 /
                                   umit</p>
                            <div
                                   class="flex justify-around text-center lg:text-center md:text-center md:justify-start items-center">
                                   <a href="detail.html"
                                          class="px-5 py-1 mt-4 mb-4 text-lg font-semibold bg-white rounded-md shadow-md text-cyan-500 md:text-xl md:mt-6 lg:mt-10">Selengkapnya</a>
                            </div>
                     </div>
              </div>

              <!--penjualan 3-->
              <div class="grid-cols-2 gap-2 md:grid mb-15 bg-gradient-to-b from-teal-200 to-cyan-200">
                     <!--tablet dan desktop-->
                     <div class="flex flex-col-reverse justify-around md:justify-end md:hidden">
                            <img src="../../img/penjualan2.png" class="h-64 py-10" alt="">
                     </div>

                     <div class="ml-5">
                            <p
                                   class="text-lg font-bold text-center lg:text-center md:text-xl lg:text-3xl lg:mt-10 md:text-left">
                                   Nasi
                                   Goreng
                                   Kambing</p>
                            <p
                                   class="font-poppins text-center lg:text-center md:text-left md:text-xl lg:text-2xl md:mt-4 lg:mt-8">
                                   Lorem ipsum is a placeholder
                                   text commonly used to demonstrate the visual form of a document
                                   or a typeface without relying on meaningful content.
                            </p>
                            <p class="mt-3 font-bold text-center lg:text-center md:text-center md:text-xl lg:text-2xl">
                                   Rp
                                   25000 /
                                   umit</p>
                            <div
                                   class="flex text-center lg:text-center md:text-center justify-around md:justify-start ">
                                   <a href="detail.html"
                                          class="px-5 py-1 mt-4 mb-4 text-lg font-semibold bg-white rounded-md shadow-md text-cyan-500 md:text-xl md:mt-6 lg:mt-10">Selengkapnya</a>
                            </div>
                     </div>

                     <img src="../../img/penjualan3.png"
                            class="hidden md:grid md:h-5/6 md:w-full lg:h-full place-items-center" alt="">
              </div>
       </div>

       <!-- Footer -->
       <footer class="items-center justify-around py-5 bg-gray-200 md:flex">
              <div class="flex justify-around md:gap-2">
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/Facebook.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/Instagram.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/YouTube.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/LinkedIn.png" class="md:pt-0"
                                   alt=""></a>
                     <a class="w-5 h-5 md:w-7 md:h-7" href="#"><img src="../../img/Twitter Squared.png" class="md:pt-0"
                                   alt=""></a>
                     <a href="#"><img src="../../img/TikTok.png" class="w-5 h-5 md:w-6 md:h-6 md:pt-0" alt=""></a>
              </div>
              <p class="flex justify-around pt-4 text-sm font-medium md:pt-0 md:text-base">
                     &copy; 2022 Pejuang Tanggung PETA TB-RO
              </p>
              <div
                     class="flex items-center justify-center gap-2 px-4 py-2 pt-2 mx-32 text-sm rounded-lg md:mx-0 md:text-base bg-slate-100">
                     <img src="../../img/indo-icon.png" class="w-5" alt="">
                     <p class="font-medium">Indonesia</p>
              </div>
       </footer>
       <!-- End Footer -->

       <script src="../../../node_modules/aos/dist/aos.js"></script>
       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>