<!DOCTYPE html>
<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- TailwindCss -->
       <link rel="stylesheet" href="../../css/style.css">
       <!-- Font Family -->
       <link rel="preconnect" href="https://fonts.googleapis.com">
       <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
       <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
       <!-- end Font Family -->
       <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
       <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
       <!-- swiper -->
       <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       <!-- <style>
              * {
                     border: 1px solid red;
              }
       </style> -->
       <title>Hasil Karya | PETA</title>
</head>

<body class="font-poppins">
       <!-- Navbar -->
       <nav class="bg-white shadow-2xl fixed-top w-full">
              <div class="p-2 px-8">
                     <div class="flex justify-between items-center">
                            <div class="flex">
                                   <img class="h-10 mt-2 mr-4" src="../../img/logoPeta.png" alt="">
                            </div>
                            <div class="hidden lg:flex">
                                   <ul class="flex flex-row font-normal">
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="../beranda/index.html">Beranda</a>
                                          </li>
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="../peta/peta.html">Tentang PETA</a>
                                          </li>
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="../tbc/tbc.html">Tentang TBC</a>
                                          </li>
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="../kasus/kasus-tbc.html">Kasus TBC</a>
                                          </li>
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="">Artikel</a>
                                          </li>
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="../galeri/galeri.html">Galeri</a>
                                          </li>
                                          <li
                                                 class="mx-2 p-1 rounded hover:bg-cyan-200 transition duration-500 ease-in-out">
                                                 <a href="../kontak/kontak.html">Kontak</a>
                                          </li>
                                          <li
                                                 class="mx-2 text-white p-1 rounded bg-cyan-500 transition duration-500 ease-in-out">
                                                 <a href="../penjualan/penjualan.html">Penjualan Karya</a>
                                          </li>
                                   </ul>
                            </div>
                            <!-- Mobile menu button -->
                            <div class="lg:hidden flex items-center">
                                   <button class="outline-none mobile-menu-button right-0">
                                          <svg class=" w-6 h-6 text-gray-500 hover:text-blue-500 " x-show="!showMenu"
                                                 fill="none" stroke-linecap="round" stroke-linejoin="round"
                                                 stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                                                 <path d="M4 6h16M4 12h16M4 18h16"></path>
                                          </svg>
                                   </button>
                            </div>
                            <!-- End Mobile Menu Button -->
                     </div>
              </div>
              <!-- mobile menu -->
              <div class="hidden mobile-menu">
                     <ul>
                            <li class="active">
                                   <a href="../beranda/index.html"
                                          class="block text-sm px-2 py-4 bg-cyan-200 font-semibold">
                                          Beranda
                                   </a>
                            </li>
                            <li>
                                   <a href="../peta/peta.html"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Tentang PETA
                                   </a>
                            </li>
                            <li>
                                   <a href="../tbc/tbc.html"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Tentang TBC
                                   </a>
                            </li>
                            <li>
                                   <a href="../kasus/kasus-tbc.html"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Kasus TBC
                                   </a>
                            </li>
                            <li>
                                   <a href="#contact"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Artikel
                                   </a>
                            </li>
                            <li>
                                   <a href="../galeri/galeri.html"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Galeri
                                   </a>
                            </li>
                            <li>
                                   <a href="../kontak/kontak.html"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Kontak
                                   </a>
                            </li>
                            <li>
                                   <a href="../penjualan/penjualan.html"
                                          class="block text-sm px-2 py-4 hover:bg-cyan-200 transition duration-500 ease-in-out">
                                          Penjualan Karya
                                   </a>
                            </li>
                     </ul>
              </div>
              <!-- End Mobile Menu -->
       </nav>
       <!-- End Navbar -->

       <section class=" pb-20 lg:pb-20 mt-16">
              <div class="relativ bg-cyan-400 w-11/12 pb-[10rem] md:grid md:grid-cols-2 md:ml-8 md:pb-[5rem]">
                     <div class="pb-7 md:pb-0 mx-4 text-white md:pr-2 items-center">
                            <p class="font-semibold text-2xl md:text-4xl pt-8 lg:pt-20">Penjualan Hasil Karya</p>
                            <p class="font-semibold text-justify text-sm md:text-xl pt-4">
                                   Lorem ipsum dolor sit amet,
                                   consectetur
                                   adipisicing elit. Necessitatibus vero vel, ad
                                   distinctio illo possimus maiores totam quaerat numquam, laboriosam magni nisi ea
                                   impedit labore quo minus, maxime harum a?
                            </p>
                     </div>
                     <div class="absolute right-0 md:pt-8">
                            <img class="w-[20rem] md:w-[26rem] lg:w-[32rem]" src="../../img/penjualan-bg.png" alt="">
                     </div>
              </div>
       </section>
       <!-- END Banner -->

       <!--search-->
       <div class="pt-2 relative mx-auto text-gray-600 flex justify-center mb-5 md:mb-10 mt-5">
              <div class="mb-3 xl:w-96">
                     <div class="input-group relative flex flex-wrap items-stretch w-full mb-4">
                            <input type="search"
                                   class="form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded-lg transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                   placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
                            <button class="btn inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out rounded-lg items-center"
                                   type="button" id="button-addon2">
                                   <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search"
                                          class="w-4" role="img" xmlns="http://www.w3.org/2000/svg"
                                          viewBox="0 0 512 512">
                                          <path fill="currentColor"
                                                 d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                          </path>
                                   </svg>
                            </button>
                     </div>
              </div>
       </div>


       <!-- konten -->
       <div class="">
              <!--Struktur-->
              <div class="md:grid grid-cols-2 gap-2 mb-15 bg-gradient-to-b from-cyan-300 to-cyan-100 mb-5 md:mb-0">
                     <!--tablet dan desktop-->
                     <div class="flex justify-around md:justify-end md:hidden">
                            <img src="../../img/penjualan2.png" class="h-64 py-10" alt="">
                     </div>

                     <div class="ml-5">
                            <p class="text-center font-bold text-lg md:text-xl lg:text-3xl lg:mt-10 md:text-left">Nasi
                                   Goreng
                                   Kambing</p>
                            <p class="md:text-left text-center font-semibold md:text-xl lg:text-2xl md:mt-4 lg:mt-8">
                                   Lorem ipsum is a placeholder
                                   text commonly used to demonstrate the visual form of a document
                                   or a typeface without relying on meaningful content.
                            </p>
                            <p class="text-center md:text-left md:text-xl font-bold lg:text-2xl mt-3">Rp
                                   25000 /
                                   umit</p>
                            <div class="flex justify-around md:justify-start ">
                                   <a href="detail.html"
                                          class="bg-white mb-4 text-cyan-500 rounded-md text-lg md:text-xl font-semibold px-5 py-1 mt-4 md:mt-6 lg:mt-10 shadow-md">Selengkapnya</a>
                            </div>
                     </div>

                     <img src="../../img/penjualan2.png"
                            class="hidden md:grid md:h-5/6 md:w-full lg:h-full place-items-center" alt="">
              </div>

              <!--penjualan 2-->
              <div class="md:grid grid-cols-2 mb-15 bg-gradient-to-b from-cyan-300 to-cyan-100 mb-5 md:mb-0">
                     <!--tablet dan desktop-->
                     <div class="flex justify-around md:justify-end md:hidden">
                            <img src="../../img/penjualan1.png" class="h-64 py-10" alt="">
                     </div>
                     <img src="../../img/penjualan1.png"
                            class="hidden md:grid md:h-5/6 md:w-full lg:h-full place-items-center" alt="">
                     <div class="ml-5">
                            <p class="text-center font-bold text-lg md:text-xl lg:text-3xl lg:mt-10 md:text-left">Nasi
                                   Goreng
                                   Kambing</p>
                            <p class="md:text-left text-center font-semibold md:text-xl lg:text-2xl md:mt-4 lg:mt-8">
                                   Lorem ipsum is a placeholder
                                   text commonly used to demonstrate the visual form of a document
                                   or a typeface without relying on meaningful content.
                            </p>
                            <p class="text-center md:text-left md:text-xl font-bold lg:text-2xl mt-3">Rp
                                   25000 /
                                   umit</p>
                            <div class="flex justify-around md:justify-start ">
                                   <a href="detail.html"
                                          class="bg-white mb-4 text-cyan-500 rounded-md text-lg md:text-xl font-semibold px-5 py-1 mt-4 md:mt-6 lg:mt-10 shadow-md">Selengkapnya</a>
                            </div>
                     </div>
              </div>

              <!--penjualan 3-->
              <div class="md:grid grid-cols-2 gap-2 mb-15 bg-gradient-to-b from-cyan-300 to-cyan-100">
                     <!--tablet dan desktop-->
                     <div class="flex justify-around md:justify-end md:hidden">
                            <img src="../../img/penjualan2.png" class="h-64 py-10" alt="">
                     </div>

                     <div class="ml-5">
                            <p class="text-center font-bold text-lg md:text-xl lg:text-3xl lg:mt-10 md:text-left">Nasi
                                   Goreng
                                   Kambing</p>
                            <p class="md:text-left text-center font-semibold md:text-xl lg:text-2xl md:mt-4 lg:mt-8">
                                   Lorem ipsum is a placeholder
                                   text commonly used to demonstrate the visual form of a document
                                   or a typeface without relying on meaningful content.
                            </p>
                            <p class="text-center md:text-left md:text-xl font-bold lg:text-2xl mt-3">Rp
                                   25000 /
                                   umit</p>
                            <div class="flex justify-around md:justify-start ">
                                   <a href="detail.html"
                                          class="bg-white mb-4 text-cyan-500 rounded-md text-lg md:text-xl font-semibold px-5 py-1 mt-4 md:mt-6 lg:mt-10 shadow-md">Selengkapnya</a>
                            </div>
                     </div>

                     <img src="../../img/penjualan3.png"
                            class="hidden md:grid md:h-5/6 md:w-full lg:h-full place-items-center" alt="">
              </div>
       </div>

       <footer class="bg-gray-200 py-7 md:flex justify-around mt-10">
              <div class="flex gap-2 justify-around">
                     <img src="../../img/ig.png" class="w-5 md:h-6 md:pt-0" alt="">
                     <img src="../../img/tiktok.png" class="w-5 md:h-6 md:pt-0" alt="">
                     <img src="../../img/twiter.png" class="w-5 md:h-6 md:pt-0" alt="">
                     <img src="../../img/linkedin.png" class="w-5 md:h-6 md:pt-0" alt="">
                     <img src="../../img/fb.png" class="w-5 md:h-6 md:pt-0" alt="">
                     <img src="../../img/youtube.png" class="w-5 md:h-6 md:pt-0" alt="">
              </div>
              <p class="pt-4 md:pt-0 flex justify-around text-sm md:text-lg">@copyright 2022 Pejuang Tanggung PETA TB-RO
              </p>
              <div class="flex justify-center gap-2">
                     <img src="../../img/indo-icon.png" class="w-5" alt="">
                     <p>Indonesia</p>
              </div>
       </footer>

       <script src="../../../node_modules/tw-elements/dist/js/index.min.js"></script>
       <script src="../../js/main.js"></script>
</body>

</html>